# Node.js
node_modules/

# TypeScript
*.tsbuildinfo
dist/
build/

# 環境ごとの設定ファイル
.env

# VSCode
.vscode/

# OSごとの不要ファイル
.DS_Store
Thumbs.db

# テストの出力
coverage/

# ログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# その他
*.log
